@layer utilities {
    /* Sizes */
    .text-17 {
        font-size: 17px;
    }
    .text-8 {
        font-size: 8px;
    }
    .text-15 {
        font-size: 17px;
    }
    .text-14 {
        font-size: 17px;
    }
    /* Bolds */
    .text-500 {
        font-weight: 500;
    }
    /* Colors */
    .text-accent {
        @apply text-primary;
    }
    .text-gray {
        color: rgba(60, 60, 67, 0.6);
    }
    .text-gray2 {
        color: rgba(245, 246, 251, 0.7);
    }
    /* Mix */
    .text-description {
        font-weight: 500;
        font-size: 13px;
        letter-spacing: -0.04em;
        color: rgba(60, 60, 67, 0.6);
        a {
            @apply text-primary;
        }
    }

    .letter-spacing {
        letter-spacing: -0.04em;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
    .border-gray {
        border-color: rgba(60, 60, 67, 0.36);
    }
}
