@layer utilities {
    .text-muted {
        @apply text-center text-lg font-semibold;
        letter-spacing: -0.04em;
        color: rgba(60, 60, 67, 0.6);
    }
    .text-accent {
        @apply font-semibold text-primary;
        font-size: 17px;
    }
    .password-num {
        @apply text-center text-2xl font-semibold;
        letter-spacing: -0.04em;
        color: #000;
    }
    .password-star {
        @apply text-primary;
        font-weight: 500;
        font-size: 32px;
    }

    .btn-press {
        &:active {
            opacity: 0.8;
            transition:
                opacity 0.2s ease,
                transform 0.1s ease;
            transform: scale(0.98);
        }
    }

    /* textarea */
    .textarea-bg{
        background: rgba(118, 118, 128, 0.12);
    }
    .textarea-border{
        border: 1px solid rgba(60, 60, 67, 0.25);
    }
    .textarea-text{
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.04em;
        color: rgba(60, 60, 67, 0.6);
    }


    /* input */
    .input-bg {
        background-color: #efeff4;
    }

    .border-input {
        border-radius: 10px;
    }


    /* Titles */

    .title-3 {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: -0.04em;
        color: #242424;
    }

    .title-4 {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: -0.04em;
        color: #242424;
        font-size: 20px;
    }

    .bg-1 {
        background: rgba(118, 118, 128, 0.12);
    }

    /* switch */

    .switch-bg {
        background: rgba(118, 118, 128, 0.12);
    }

    .card {
        box-shadow: unset;
        background: #fff;
        border-radius: 10px;
    }

    .bg-badge{
        background: rgba(0, 122, 255, 0.1);
    }
    .bg-avatar {
        background: linear-gradient(225deg, #7261ff 0%, #66a9e0 100%);
    }

    .bg-grey {
        background: rgba(60, 60, 67, 0.6);
    }

    .bg-input {
        background: rgba(118, 118, 128, 0.12);
    }

    .bg-main{
        background: #efeff4;
    }
    
}
